@model webbanxe.Models.Bike
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}

<main id="main" class="main">

    <div class="pagetitle">
        <h1> Bike</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a>Home</a></li>
                <li class="breadcrumb-item"><a>Bike</a></li>
                <li class="breadcrumb-item active">Edit</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
    <section class="section dashboard">
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="IdBike" />
                    <div class="form-group">
                        <label asp-for="NameBike" class="control-label"></label>
                        <input asp-for="NameBike" class="form-control" />
                        <span asp-validation-for="NameBike" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="price" class="control-label"></label>
                        <input asp-for="price" class="form-control" />
                        <span asp-validation-for="price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PricePromotion" class="control-label"></label>
                        <input asp-for="PricePromotion" class="form-control" />
                        <span asp-validation-for="PricePromotion" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Quantity" class="control-label"></label>
                        <input asp-for="Quantity" class="form-control" />
                        <span asp-validation-for="Quantity" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ImageBike" class="control-label"></label>
                        <input asp-for="ImageBike" class="form-control" />
                        <span asp-validation-for="ImageBike" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DescriptionBike" class="control-label"></label>
                        <input asp-for="DescriptionBike" class="form-control" />
                        <span asp-validation-for="DescriptionBike" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="IdType" class="control-label"></label>
                        <select asp-for="IdType" class="form-control" asp-items="ViewBag.IdType"></select>
                        <span asp-validation-for="IdType" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>



